<style>

body {
  font-family: Arial important; 
}

.wrap {
  padding:60px 0px;
  background:#4a98d3;
  background:radial-gradient(at 40% 40%, #4a98d3, #00598f);
  font-family:Arial ;
}

.titleBar {
  font-family: Arial;
  font-size:xx-large ;
  color: #333;
  text-align: center;
  padding: 1em;
  background: #BDBDBD;
  box-shadow: 0 0 0.5em #999;
}

#errorContainer {
  color: #333;
  text-align: center;
  padding: 1em;
  background: #ffea61;
  box-shadow: 0 0 0.5em #999;
}


/*------------- TABS ------------- */

.tabs {
  width:100%;
  display:inline-block;
}

/*---------- TAB LINKS ------------- */
.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links li {
  margin:0px 5px;
  float:left;
  list-style:none;
}

.tab-links a {
  padding:9px 15px;
  display:inline-block;
  border-radius: 3px 3px 0px 0px;
  background: #7FB5DA;
  font-size:16px;
  font-weight:600;
  color:#4c4c4c;
  transition:all linear 0.15s;
}

.tab-links a:hover {
  background:#a7cce5;
  text-decoration:none; 
}

li.active a, li.active a:hover {
  background:#fff;
  color:#4c4c4c;
}

/*---------- TAB CONTENT ------------*/
.tab-content {
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}

table {
  border-spacing: 0.5rem;
  padding: 0.5em; 
}

td:not(#question) {
  text-align: center;
}
</style>
