<style>

html {
  padding:0;
  margin:0;
}

body {
  background-color:#f0f3f5;
  padding:0;
  margin:0;
}

a {
  color:#3366ff;
}

a:hover {
  color:#668cff;
}

.wrap {
  width:980px;
  font-family:'Roboto', sans-serif;
  font-size:15px;
  /*background:radial-gradient(at 40% 40%, #4a98d3, #00598f);*/
  margin:0 auto;
}

.innerWrap {
  float:left;
  width:100%;
  overflow:hidden;
}

.content {
  width:100%;
  height:800px;
  padding-top:10px;
  overflow:hidden;
}

.content.tagPage, .content.userPage {
  background:#fff;
  padding-top:40px;
  margin-top:20px;
  overflow-y:scroll;
  overflow-x:hidden;
}

.content.tagPage form, p {
  padding-left:50px;
}

#userDiv {
  background-color:#fff;
  padding:5px;
  text-align:right;
  color:#c6c6c6;
  margin:0px;
}

#userDiv a {
  color:#c6c6c6;
}

.userProfile {
  background:#fff;
  height:100%;
  overflow:hidden;
}

#userSentence {
  width:25%;
}

#title {
  font-size:xx-large;
  color:black;
  margin-left:0;
  text-align:left;
  width:25%
}

.titleBar {
  font-size:xx-large ;
  color: #333;
  text-align: center;
  background:#fff;
  margin-top:0px;
  overflow:hidden;
}

#welcomeSentence {
  padding:5px;
  margin:2px;
  color:#cccccc;
  font-size:12px;
}

#profilePic {
  height:20px;
  width:20px;
  padding:5px;
}

/*----- SITE NAV ------ */
.sitenav {
  height:50px;
  width:100%;
  margin:10px 10px 0px 0px;
  margin-bottom:20px;
  padding:10px;
  background-color:#fff;
  border-radius:5px;
}

.sitenav li {
  list-style-type:none;
  display:inline-block;
  padding-right:20px;
}

/*-------- TAG SEARCH ----------- */
#tagSearch {
  padding:20px; 
}

/*-------- SIDE BAR ----------- */
.sidebar {
  height:100%;
  box-sizing:border-box;
  background-color:#fff;
  display:block;
  float:left;
  width:200px;
  border-radius: 10px 0px 0 0;
  margin-right:15px;
  font-size:13px;
}

.sidebar p {
  padding-left:10px;
}

/*------------- TABS ------------- */

.tab-panels {
  float:left;
  width:765px;
  height:100%;
}

.tab-panels ul {
  margin:0;
  padding:0;
}

/*------------ LINKS -------------*/ 

.tab-panels ul li.navigation {
  list-style-type:none;
  display:inline-block;
  background:#666;
  width:25%;
  box-sizing:border-box;
  margin:0px 0px 0px 0px;
  padding:3px;
  margin-right:-4px;
  border:none;
  border-radius:10px 10px 0 0;
  color:#c9c9c9;
  font-weight:200;
  cursor:pointer;
  padding:0.5em;
}

.tab-panels ul li:not(.tag):hover {
  color:#fff;
  background:#cccccc;
}

.tab-panels ul li.active {
  color:#000;
  background:#fff;
}

/*----------- PANELS/CONTENT ----------*/ 

.tab-panels .panel {
  display:none;
  background:#fff;
  height:100%;
}

.tab-panels .panel.active {
  overflow-y:scroll;
  overflow-x:hidden;
  height:717px;
  padding:10px;
  display:block;
  box-sizing:border-box;
}


/*---------- WEBKIT SCROLLBAR ---------*/
::-webkit-scrollbar {
  width: 10px;
  height:2px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius:10px;
  background:#cccccc;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background:#fff;
}

::-webkit-scrollbar-corner {
  display:none;
}

/*---------- TABLE CONTENT ------------*/
#stateForm {
  box-sizing:border-box;
  width:100%;
}

table {
  word-wrap:break-word;
  width:100%;
}

#qHead {
  text-align:left;
}

th {
  border-bottom: solid thin #c6c6c6;
}

th:not(#qHead) {
  padding:10px;
}

td {
  padding-top:20px;
  padding-bottom:20px;
  border-bottom:thin dashed #c6c6c6;
}

.lockIcon {
  cursor:pointer;
}

#question {
  word-wrap:break-word;
  width:100;
}
td:not(#question) {
  text-align: center;
}

/*--- RADIOS ---*/

/*--- BODY SNIPPET ---*/
.bodySnippet {
  background-color:#fefee6;
  font-size:12px;
  word-wrap:break-word;
  margin-right:none;
}

/*--- TAGS --- */

.tagContainer {
  margin-top:4px;
}

.tagContainer ul {
  list-style-type:none;
  font-size:12px;
}

.tagContainer ul li {
  margin:2px;
  display:inline-block;
  padding:2px 2px 2px 2px;
  border-radius: 5px;
  border:solid #e6e6e6;
  background:#e6e6e6;
}

.tagContainer.viewTags li {
  cursor:pointer;
}

.tagContainer.viewTags li.selected {
  background:#ffffcc;
  border-color:#ffffcc;
}

.tagContainer.viewTags li.deselected {
  background:#e6e6e6;
}


#question p a {
  font-size:12px;
  color:black;
}

/*--------- STICKY FOOTER -----------*/

.stickyFooter {
  width:100%;
  height:50px;
  background:#fff;
  border:none;
  display:block;
  float:bottom
}

.footerContents {
  width:inherit;
  background:#fff;
}

/*---------- SUBMIT BUTTON -----------*/

#submitContainer {
  float:right ;
  display:inline-block;
  overflow:hidden;
  height:100%;
}
#submitButton, #clearButton {
  background-color:#c6c6c6;
  box-shadow:none;
  cursor:pointer;
  padding: 0.5em;
  margin: 10px 10px 10px 10px;
  float:right;
  border-style:solid;
  border-radius:5px;
  border-color:#c6c6c6;
}

/* ------- VIEW TAGS PAGE ------- */

#tag-browser {
  margin:0;
  padding:0;
  position:relative;
}

</style>