<style>

html, body {
  padding:0;
  height:100%;
  margin:0px 0px 0px 0px;
}

.wrap {
  font-family:Tahoma, Geneva, sans-serif;
  font-size:15px;
  background:radial-gradient(at 40% 40%, #4a98d3, #00598f);
  min-height:100%;
  position:relative;
}


.titleBar {
  padding-top:0.25em;
  font-size:xx-large ;
  color: #333;
  text-align: center;
  background: #BDBDBD;
}

/*------------- TABS ------------- */
.tab-panels ul {
  margin:0;
  padding:0;
  width:100%;
}

/*------------ LINKS -------------*/ 

.tab-panels ul li {
  list-style-type:none;
  display:inline-block;
  background:#666;
  width:23%;
  margin:0px 0px 0px 0px;
  padding:3px ;
  border-radius:10px 10px 0 0;
  color:#c9c9c9;
  font-weight:200;
  cursor:pointer;
}

.tab-panels ul li:hover {
  color:#fff;
  background:#666;
}

.tab-panels ul li.active {
  color:#000;
  background:#c9c9c9;
}

/*----------- PANELS/CONTENT ----------*/ 

.tab-panels {
}

.tab-panels .panel {
  display:none;
  background:#c9c9c9;
  padding:30px ;
}

.tab-panels .panel.active {
  overflow:scroll;
  display:block;
  height: 75%; 
}

/*---------- WEBKIT SCROLLBAR ---------*/
::-webkit-scrollbar {
  width: 5px;
  height:2px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius:10px;
  background:#fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background:#fff;
}

::-webkit-scrollbar-corner {
  display:none;
}

/*---------- TAB CONTENT ------------*/
table {
  border-spacing: 0.5rem;
  padding: 0.5em;
  background:#fff;
  width:100%;
}
#qHead {
  text-align:left ;
}

#question {
  padding: 1em;
}

td:not(#question) {
  text-align: center;
}

/*--------- STICKY FOOTER -----------*/

.stickyFooter {
  width:100%;
  background-attachment:scroll;
  background-position:0% 0%;
  position:fixed;
  bottom:0pt;
  left:0pt;
  height:50px;
  background:#fff;
  border-top-style:solid;
  border-top-color:#000;
}

.footerContents {
  margin:auto;
  position:relative;
  background:#fff;
}

#authorNames {
  margin:0px;
  padding:0px;
  font-size:12px;
  float:left;
  overflow:hidden;
  display:inline-block;
  width:20%;
  line-height:50%;
  height:100%;
}

#authorNames p {
  margin-left:0.5em;
  text-align:center;
}


/*---------- SUBMIT BUTTON -----------*/

#submitContainer {
  float:right ;
  display:inline-block;
  width:80%;
  overflow:hidden;
  height:100%;
}
#submitButton {
  background-color:#e6e6e6;
  color:#666;
  border-radius:100px;
  cursor:pointer;
  box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;
  padding: 0.5em;
  margin: 10px 10px 10px 10px;
  border-radius:10px 10px 10px 10px;
  float:right;
}
</style>
