<html>
  <head>
    <title>Places API Query Tracker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/tabs.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  {{$reply := .}}
  <body>
    <div class="wrap">
    <div class="titleBar">
      <h4>Places API Tag Tracker for StackExchange </h4>
      <h5>Quota_remaining: {{$reply.Wrapper.Quota_remaining}}</h5>
    </div>
    <!------- CONTENT TABS ---------->
    <div class="tab-panels">
      <ul class="tabs">
        <li rel="unanswered" class="navigation active">Unanswered</li>
        <li rel="answered" class="navigation">Answered</li>
        <li rel="pending" class="navigation">Pending</li>
        <li rel="updating" class="navigation">Update</li>
      </ul>

      <form name="change_state" method="POST">
        {{range $cache := $reply.Caches}}
        <div id="{{$cache.CacheType}}" class="panel">
          <div id="info">
              <p>{{$cache.Info}}</p>
          </div>
          <div class="tableContainer">
            <table>
              <thead>
                <tr>
                  <th id="qHead">Question</th>
                  <th>Unanswered</th>
                  <th>Answered</th>
                  <th>Pending</th>
                  <th>Update</th>
                  <th><img class="lockIcon" onclick="changeImage()" src="/images/lockSmall.png">
                </tr>
              </thead>
              <tbody>
                {{range $i, $question := $cache.Questions}}
                  <tr>
                    <td id="question">
                      <a href={{$question.Link}}>{{$question.Title}}</a>
                      <br>
                      <div class="tagContainer">
                        <ul>
                        {{range $tag := $question.Tags}}  
                          <li class="tag"><a href="/tag?q={{$tag}}">{{$tag}}</a></li>
                        {{end}}
                        </ul>  
                      </div>
                    </td>
                    <td><input type="radio" class="radios" name="{{$cache.CacheType}}_state{{$i}}" value="unanswered" disabled="true"></td>
                    <td><input type="radio" class="radios" name="{{$cache.CacheType}}_state{{$i}}" value="answered" disabled="true"></td>
                    <td><input type="radio" class="radios" name="{{$cache.CacheType}}_state{{$i}}" value="pending" disabled="true"></td>
                    <td><input type="radio" class="radios" name="{{$cache.CacheType}}_state{{$i}}" value="updating" disabled="true"></td>
                  </tr>
                  <script>
                  $("#{{$cache.CacheType}}").find("input[value='{{$cache.CacheType}}']").prop("checked", true);
                  </script>
                {{end}}
              </tbody>
            </table>
          </div>
        </div>
        {{end}}
        <script>
          $("#unanswered").addClass("active");
        </script>

        <!--END TABS-->
        <div class="stickyFooter">
          <div class="footerContents">
            <div id="authorNames">
              <p>Vanessa Gregoriou</p>
              <p>Meredith Lane</p>
              <p>STEP Interns, 2015</p>
            </div>
            <div id="submitContainer"> 
              <input type="submit" id=submitButton value="Submit">
              </div>
          </div>
        </div>
      </form>
    </div><!-- END WRAPPER -->
  </body>
</html>
