<html>
  <head>
    <title>Places API Query Tracker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/tabs.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  {{$reply := .}}
  <body>
    <div class="wrap">
      <div class="titleBar">
        <h4><a href="/"><img src="/images/home.svg" height="30"></a>Places API Tag Tracker for StackExchange</h4>
        {{if ne $reply.Query ""}}
          <h5>Querying: {{$reply.Query}}</h5>
        {{end}}
      </div>
      <p id="welcomeSentence"> Welcome,
        {{if eq $reply.User.Display_name "Guest"}}
          {{$reply.User.Display_name}} <a href="/login" style="color:white">Login</a>
        {{else}}
          <a href="/user?id={{$reply.User.User_id}}" style="color:white">{{$reply.User.Display_name}} <img src="{{$reply.User.Profile_image}}" style="height:20px; width:20px"></a>
        {{end}}
      </p>
      <form action="/tag" method="get">
        Search by tag: <input type="text" name="q">
        <input type="submit" value="Search">
      </form>
      <!-- CONTENT TABS -->
      <div class="tab-panels">
        <ul class="tabs">
          <li rel="unanswered" class="navigation active">Unanswered</li>
          <li rel="answered" class="navigation">Answered</li>
          <li rel="pending" class="navigation">Pending</li>
          <li rel="updating" class="navigation">Update</li>
        </ul>
        <form name="change_state" id="stateForm" method="POST">
          {{range $cache := $reply.Caches}}
          <div id="{{$cache.CacheType}}" class="panel">
            <div id="info">
                <p>{{$cache.Info}}</p>
            </div>
            <div class="tableContainer">
              <table>
                <thead>
                  <tr>
                    <th id="qHead">Question</th>
                    <th>Unanswered</th>
                    <th>Answered</th>
                    <th>Pending</th>
                    <th>Update</th>
                  </tr>
                </thead>
                <tbody>
                  {{range $question := $cache.Questions}}
                    <tr>
                      <td id="question">
                        <a href={{$question.Link}}>{{$question.Title}}</a>
                        <br>
                        <div class="tagContainer">
                          <ul>
                          {{range $tag := $question.Tags}}  
                            <li class="tag" a href="#" data-tooltip="tooltip" title="Display questions containing the tag &quot;{{$tag}}&quot;"><a href="/tag?tagSearch={{$tag}}">{{$tag}}</a></li>
                          {{end}}
                          </ul>
                        </div>
                        {{if ne $cache.CacheType "unanswered"}}
                        <p>Question owner: <a id="questionUser" href="/user?id={{$reply.GetUserID $question.Question_id}}">{{$reply.GetUserName $question.Question_id}}</a>
                        {{end}}
                      </td>
                      <td><input type="radio" class="radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="unanswered"></td>
                      <td><input type="radio" class="radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="answered"></td>
                      <td><input type="radio" class="radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="pending"></td>
                      <td><input type="radio" class="radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="updating"></td>
                      <td style="display:none"><input type="radio" class="radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="no_change" checked="checked"></td>
                    </tr>
                  {{end}}
                </tbody>
              </table>
            </div> <!-- END TABLE CONTAINER -->
          </div> <!-- END PANEL -->
          {{end}}
          <script>
            $("#unanswered").addClass("active");
          </script>
      </div>
      <!--END TABS-->
      <div class="stickyFooter">
        <div class="footerContents">
          <div id="authorNames">
            <p>Vanessa Gregoriou</p>
            <p>Meredith Lane</p>
            <p>STEP Interns, 2015</p>
          </div>
          <div id="submitContainer">
            {{if ne $reply.User.Display_name "Guest"}}
              <input type="submit" name="btnSubmit" id=submitButton value="Submit">
            {{else}}
              <input type="submit" name="btnSubmit" id=submitButton value="Submit" disabled>
            {{end}}
        </form> 
          </div>
        </div>
      </div>
    </div> <!-- END WRAPPER -->
  </body>
</html>
