<html>
  <head>
    <title>Places API Query Tracker</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/tabs.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  {{$reply := .}}
  <body>
    <div class="wrap">
      <div class="innerWrap">
        <div id="userDiv">
          <p id="welcomeSentence"> Welcome, 
          {{if eq $reply.User.Display_name "Guest"}}
            {{$reply.User.Display_name}} <a href="/login">Login</a>
          {{else}}
           <a href="/user?id={{$reply.User.User_id}}">{{$reply.User.Display_name}} <img id="profilePic" src="{{$reply.User.Profile_image}}" style="height:20px; width:20px"></a>
        {{end}}
          </p>
        </div> <!-- END USER BAR DIV -->

        <div class="titleBar">
          <h4><a href="/"><img src="/images/home.svg" height="30"></a>Places API Tag Tracker for StackExchange</h4>
         {{if ne $reply.Query ""}}
            <h5>Querying: {{$reply.Query}}</h5>
          {{end}}
        </div>
        <div id="tagSearchBar">
          <form action="/tag" method="get">
            Search by tag: <input type="text" name="tagSearch">
            <input type="submit" value="Search">
          </form>
        </div>
        <div class="content">
          <div class="sidebar">
            <ul class="tagNav">
                <li>tag1</li>
                <li>tag2</li>
                <li>tag3</li>
              </ul>
              <ul class="userNav">
                <li>user1</li>
                <li>user2</li>
                <li>user3</li>
              </ul>
            </div> <!-- END SIDEBAR-->
          <div class="tab-panels">
            <ul class="tabs">
              <li rel="unanswered" class="navigation active">Unanswered</li>
              <li rel="answered" class="navigation">Answered</li>
              <li rel="pending" class="navigation">Pending</li>
              <li rel="updating" class="navigation">Update</li>
            </ul>
            <form name="change_state" id="stateForm" method="POST">
              {{range $cache := $reply.Caches}}
              <div id="{{$cache.CacheType}}" class="panel">
                <div id="info">
                    <p>{{$cache.Info}}</p>
                </div>
                <div class="tableContainer">
                  <table>
                    <thead>
                      <tr>
                        <th id="qHead">Question</th>
                        {{if ne $cache.CacheType "unanswered"}}
                          <th>Unanswered</th>
                        {{end}}
                        {{if ne $cache.CacheType "answered"}}
                          <th>Answered</th>
                        {{end}}
                        {{if ne $cache.CacheType "pending"}}
                          <th>Pending</th>
                        {{end}}
                        {{if ne $cache.CacheType "updating"}}
                          <th>Update</th>
                        {{end}}
                      </tr>
                    </thead>
                    <tbody>
                      {{range $question := $cache.Questions}}
                        <tr>
                          <td id="question">
                            <a href={{$question.Link}}>{{$question.Title}}</a>
                            <br>
                            <div class="bodySnippet" id="{{$question.Question_id}}_body">
                              <script>
                                $('#{{$question.Question_id}}_body').html({{$question.Body}});
                              </script>
                            </div><!--END OF BODY SNIPPER-->
                            <div class="tagContainer">
                              <ul>
                              {{range $tag := $question.Tags}}  
                                <li class="tag" a href="#" data-tooltip="tooltip" title="Display questions containing the tag &quot;{{$tag}}&quot;"><a href="/tag?tagSearch={{$tag}}">{{$tag}}</a></li>
                              {{end}}
                              </ul>
                            </div>
                            {{if ne $cache.CacheType "unanswered"}}
                              <a href="/user?id={{$reply.GetUserIDByQn $question.Question_id}}">{{$reply.GetUserNameByQn $question.Question_id}}</a>
                            {{end}}
                          </td>
                          {{if ne $cache.CacheType "unanswered"}}
                            <td><input type="radio" class="radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="unanswered"></td>
                          {{end}}
                          {{if ne $cache.CacheType "answered"}}
                            <td><input type="radio" class="radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="answered"></td>
                          {{end}}
                          {{if ne $cache.CacheType "pending"}}
                            <td><input type="radio" class="radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="pending"></td>
                          {{end}}
                          {{if ne $cache.CacheType "updating"}}
                            <td><input type="radio" class="radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="updating"></td>
                          {{end}}
                          <td style="display:none"><input type="radio" class="radios no_change_radios" name="{{$cache.CacheType}}_{{$question.Question_id}}" value="no_change" checked="checked"></td>
                        </tr>
                      {{end}}
                    </tbody>
                  </table>
                </div> <!-- END TABLE CONTAINER -->
              </div> <!-- END PANEL -->
              {{end}}
              <script>
                $("#unanswered").addClass("active");
              </script>
            </form>
            <div class="stickyFooter">
              <div class="footerContents">
                <div id="submitContainer">
                  <input type="button" name="clear" id=clearButton value="Clear">
                  {{if ne $reply.User.Display_name "Guest"}}
                    <input type="submit" name="btnSubmit" id=submitButton value="Submit">
                    {{else}}
                    <input type="submit" name="btnSubmit" id=submitButton value="Submit" disabled>
                    {{end}}
                </div> <!-- END SUBMIT CONTAINER -->
              </div><!--END FOOTER CONTENTS-->
            </div><!-- END FOOTER -->
          </div><!--END TAB-PANELS-->
        </div> <!--END CONTENT-->
      </div> <!-- END INNER WRAPPER -->
    </div> <!-- END WRAPPER -->
  </body>
</html>
