<html>
	<head>
		<title>StackTracker</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/userProfile.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</head>
	{{$reply := .}}

	<body>

		<div class="wrap">
			<div class="innerWrap">

				<div id="userDiv">
                    <p id="welcomeSentence"> Welcome,
                        {{if eq $reply.User.Display_name "Guest"}}
                            {{$reply.User.Display_name}} <a href="/login">Login</a>
                        {{else}}
                            <a href="/user?id={{$reply.User.User_id}}">{{$reply.User.Display_name}} <img src="{{$reply.User.Profile_image}}" style="height:20px; width:20px"></a>
                        {{end}}
                    </p>
		        </div><!-- END USER DIV -->
                <div class="titleBar">
                    <a href="/"><img src="images/stacktracker-banner.jpg"></a>
                </div><!-- END TITLE BAR -->

		        <div class="content">
		        	<div class="sitenav">
			        	<ul>
			        		<li><a href='/'>Home</a></li>
			        		<li><a href='/viewTags'>Tags</a></li>
			        		<li><a href='/viewUsers'>Users</a></li>
			        	</ul>
			        </div>
		        	<div class="userProfile">
		        		{{$profile := $reply.Data}}
		        		<div class="profileInformation">
		        			<h2>Name: {{$profile.User_info.Display_name}}</h2>
		        			{{range $key, $cache := $profile.Caches}}
		        			<hr>
		        			<h4 class="capitalize">{{$key}}</h4>
		        			<ul class="userQuestions {{$key}}">
		        				{{range $qn := $cache}}
		        				<a href="{{$qn.Link}}"><li>{{$qn.Title}}</li></a>
		        				{{end}}
		        				<a href="/user?id=$profile.User_info.User_id"><li class="viewMore">{{len $cache}} in total...</li></a>
		        			</ul><!-- END QUESTIONS -->
		        			{{end}}
		        		</div>
		        		<div class="rightSidebar">
				        	<div class="profilePicture-large">
			        			<span class="centerer"></span>
			        			<img class="centered" src="{{$profile.User_info.Profile_image}}">
			        		</div>
					        <hr>
		        			<div class="soLink">
		        				<a href="https://www.stackoverflow.com/users/{{$profile.User_info.User_id}}?tab=profile" target="_blank"><p>Visit on StackOverflow</p></a>
		        			</div>
		        			<hr>
			        	</div><!-- END SIDE BAR -->
		        	</div><!-- END USER PROFILE -->
		        </div><!-- END CONTENT -->
			</div><!-- END INNER WRAP -->
		</div><!--END WRAP-->
	</body>

	<script type="text/javascript" src="/javascripts/tabs.js"></script>
</html>
