<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <title>Stack Tracker</title>

    <!-- STYLE SHEETS AND FONTS -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  {{$reply := .}}
	<body>

		<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container wrap">
      <div class="page-header">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <a href="/"><img src="images/stacktracker-banner.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 userDiv">
            <p id="welcomeSentence">Welcome,
              {{if eq $reply.User.Display_name "Guest"}}
                {{$reply.User.Display_name}}</p>
                <p id="welcomeSentence"><a href="/login">Login</a> with your StackOverflow account...</p>
              {{else}}
                <a href="/user?id={{$reply.User.User_id}}">{{$reply.User.Display_name}} <img src="{{$reply.User.Profile_image}}" style="height:20px; width:20px"></a>
                <button class="btn btn-default btn-xs" onclick="logout()">Logout</button>
              {{end}}
          </div>
        </div><!-- END ROW -->

        <nav class="navbar navbar-default navbar-fixed">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            </div><!-- /.navbar-header -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/viewTags">Tags</a></li>
                <!--<li class="disabled"><a href="/viewUsers">Users</a></li>-->
                <li><a href="/addQuestion">Add a question</a></li>
              </ul>

              <form class="navbar-form navbar-right search-form" action="/search" method="get" role="search">
                <div class="form-group">
                  <input type="text" class="form-control sb" name="search" placeholder="Search StackTracker..." required>
                </div><!-- ./form-group -->
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav><!-- END NAVBAR -->
      </div><!-- END HEADER -->

      <div class="container-fluid">
      	<div class="row">
      	    <p>Select tags to view questions...</p>
      	</div><!--/.row -->
		<div class="row tag-browser">
		    <div class="table-responsive">
		       	<table class="table">
		        	<tbody>
						{{range $tagArray := $reply.Data}}
			        		<tr>
			        			{{range $tag := $tagArray}}
				        			<td>
				        				<div class="tagContainer viewTags">
								        	<ul id="selectTags">
								        		<a href='/tag?tagSearch={{$tag.Tag}}'><li>{{$tag.Tag}}</li></a>
								        	</ul>
								        </div> <!-- /.tagContainer.viewTags -->
								        <small class="text-muted">
								        	{{$tag.Count}}
								        </small>
							        </td>
						    	{{end}}
						    </tr>
						{{end}}
				   	</tbody><!-- END TABLE BODY -->
				</table><!--END TABLE-->
			</div><!-- /.table-responsive -->
		</div>
        <div>
          {{if gt ($reply.PagePlus -1) 0}}<a href="/viewTags?page={{$reply.PagePlus -1}}">Prev</a>{{end}}
          {{if lt $reply.Page $reply.LastPage}}  <a href="/viewTags?page={{$reply.PagePlus 1}}">Next</a>{{end}}
        </div>
      </div>
	</body>

	<!-- JAVASCRIPT, BOOTSTRAP, JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/tabs.js"></script>

    <script>
      // Saving the update time and display name
      $( document ).ready(saveState({{$reply.User.Display_name}}, {{$reply.UpdateTime}}));
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
